#ex01 .box:hover {
  background: #12445a;
}

#ex02 .box {
  transition: background 0.3s;
}

#ex02 .box:hover {
  background: #12445a;
}

#ex03 .box {
  transition: background 0.5s 0.3s;
}

#ex03 .box:hover {
  background: #12445a;
}

#ex04 .box {
  transition: 0.3s;
}

#ex04 .box:hover {
  background: #12445a;
  color: beige;
}

#ex05 .box {
  transition: background 0.3s, color 0.3s 0.3s;
}

#ex05 .box:hover {
  background: #12445a;
  color: beige;
}

#ex06 .box {
  transition: background 0.3s;
}

#ex06 .wrapper:hover .box {
  background: #12445a;
}

#ex07 .box {
  transition: background 0.3s;
}

#ex07 .box:nth-child(2) {
  transition: background 0.3s 0.2s;
}

#ex07 .box:nth-child(3) {
  transition: background 0.3s 0.4s;
}

#ex07 .wrapper:hover .box {
  background: #12445a;
}

#ex08 .wrapper {
  transition: 0.3s;
}

#ex08 .box {
  transition: 0.3s;
}

#ex08 .wrapper:hover {
  background: #12445a;
}

#ex08 .wrapper:hover .box {
  background: beige;
  color: #12445a;
}

#ex09 .wrapper {
  transition: 0.3s;
}

#ex09 .box {
  transition: 0.3s 0.2s;
}

#ex09 .wrapper:hover {
  background: #12445a;
}

#ex09 .wrapper:hover .box {
  background: beige;
  color: #12445a;
}
